- group_id: 1
  slave: 1
  address: 0
  count: 128
  type: holding
- group_id: 2
  slave: 1
  address: 200
  count: 59
  type: holding
- group_id: 3
  slave: 1
  address: 500
  count: 49
  type: holding
- group_id: 4
  slave: 1
  address: 600
  count: 21
  type: holding