[Unit]
Description=Arkanod Service to MODBUS poll EVC devices log
Documentation=https://github.com/wishnu88/arkanod
After=mosquitto.service

[Service]
Type=simple
Restart=always
WorkingDirectory=/opt/arkanos/arkanod
ExecStart=/opt/arkanos/arkanod/main.py
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target